html,
body {
  font-size: 10px;
  margin: 0;
  height: 100%;
  font-family: "Bender";
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.timer {
  font-size: 23rem;
  text-align: center;
  letter-spacing: 15px;
  font-weight: bold;
  color: #009914;
  transition: color 0.3s;
  user-select: none;
  backface-visibility: hidden;
  text-shadow: 0 0 30px green;
}
