$base-color: #594306;
$ring-color: #2b3bed;

* {
	box-sizing: border-box;
}

html {
	overflow: hidden;
}

body, html {
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	position: relative;
	width: 75%;
	height: 75%;
}

.field {
	position: relative;
	height: 85%;
}

.floor {
	background: $base-color;
	height: 15%;
	width: 100%;
}

.rod {
	position: absolute;
	background: $base-color;
	width: 25px;
	height: 80%;
	bottom: 0;
}

.ring {
	position: absolute;
	border-radius: 50px;
	background: $ring-color;
	border: 1px solid black;
	border-bottom: none;

	&.shake {
		animation: shake 0.4s;
	}
}

.score, .best-score {
	position: absolute;
	right: 40px;
	top: 40px;
	font-size: 20px;
}

.best-score {
	top: 80px;
}


.win, .lose {
	i {
		font-size: 4000%;
	}
}

.win, .lose {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transform: scale(1.5);
	transition: .3s;
}


.win.active, .lose.active {
	opacity: 1;
	transform: scale(1);
}

.win {
	i {
		color: green;
	}
}

.lose {
	i {
		color: red;
	}
}


.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-image: url('img/ice.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.3;
}


@keyframes shake {
 0%,
 100% {
  color: red;
  transform: translateX(0);
 }
 10%,
 30%,
 50%,
 70%,
 90% {
  transform: translateX(-10px);
 }
 20%,
 40%,
 60%,
 80% {
  transform: translateX(10px);
 }
}


